@import "tailwindcss";

@theme {
  --color-primary: #00b0eb;
  --color-background-light: #f5f8f8;
  --color-background-dark: #0f1e23;
  
  --font-family-display: Inter, sans-serif;
  
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

